body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

canvas {
    border: 2px solid #ffffff;
    display: block;
    margin: auto;
}

#gameCanvasContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    text-align: center;
}

#gameCanvas {
    width: 80vw;
    border-radius: 10px;
}

#gameMessage p {
    font-size: 18px;
}

